
.PostRow {
    padding: 8px;
    padding-bottom: 0px;
   /* scroll-snap-align: start;*/
}

.PostContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
    background-color: #eee;
    border-radius: 6px;
}

.PostContainer .cmdIcon {
    display: none;
}

.PostContainer:hover .cmdIcon {
    display: block;
}

.PostLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
}

.Post {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30px auto;
}

.PostTitle {
    display: block;
    font-family: 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;  /* Allow title to wrap */
    word-break: break-word; /* Break long words if necessary */
}
.Post-Text {
    display: block;
    font-size: 1rem;
    color: black;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;  
    word-break: break-word;
}
.PostText {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Affiche 3 lignes de texte */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #555;
}

.show-more {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
}
.PostText.expanded {
    -webkit-line-clamp: unset; /* Shows full text */
}


.PostCategory {
    color: dodgerblue !important;
}

.PostCommandPanel {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.PostdeleteForm {
    margin: 20px;
}
.PostImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Set a consistent width for all images */
    height: 300px; /* Set a consistent height */
    overflow: hidden; /* Hide overflowed parts of the image */
    border-radius: 6px; /* Optional: Rounded corners */
}

.Post-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the entire container */
    border: 1px solid #333;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    filter: grayscale(100%) contrast(1.2);
}

.Post-image:hover {
    filter: grayscale(100%) contrast(1.5) brightness(0.95); 
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5); 
}
.PostCreation{
    font-family: 'Roboto', sans-serif; 
    font-size: 0.7em; 
    color: #555; 
    letter-spacing: 0.05em; 
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
}
